<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>MAIN PAGE</title>
		<link href="../css/title.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div style="background-color: black; width: 1366px; height: 700px;">
      		<div class="site">
            <a href="../../start.php"><img src="../recources/logo.jpg"></a>
      		</div>
       		 <div id ="nav">
         		 <a href="../../start.php"><button id="navlabel">HOME</button></a>
          		<a href="faq.html"><button id="navlabel">FAQ</button></a>
         		 <a href="about.html"><button id="navlabel">ABOUT</button></a>
      		</div>
      		<div style="margin-left:20px;">
      		<p><font color="red"><h1>DEVELOPED BY: CORPORATE COMMANDER</h1>
      		Name: Stanimir Mitev<p/>
      		Fn:   61724<p/>
      		Year: 2016<p/>
      		Lecturer: Milen Petrov WWW 2015-2016</font></p>
				<img src="../recources/Corporate_Commander.jpg" style="margin-right:100px;position:absolute;left:1000px;top:200px;float:right;width:300px;height:400px">
			</div>
    	</div>
	</body>
</html>