<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>MAIN PAGE</title>
		<link href="../css/title.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div style="background-color: black; width: 1366px; height: 700px;">
      		<div class="site">
            <a href="../../start.php"><img src="../recources/logo.jpg"></a>
      		</div>
       		 <div id ="nav">
         		 <a href="../../start.php"><button id="navlabel">HOME</button></a>
          		<a href="faq.html"><button id="navlabel">FAQ</button></a>
         		 <a href="about.html"><button id="navlabel">ABOUT</button></a>
      		</div>
      		<div style="margin-left:20px;">
      		<p><font color="red">
      		<h1>What is the purpose of this site?</h1>
      		Unless we want Diablo to be unleashed into the world we have to seal all evil pentagram pixels.
      		<h1>How can I contribute?</h1>
      		At the bottom of the page there is a button to choose a file. Clicking it lets you deceide where you want to place your seal.
      		<h1>I have placed my seal. Now what?</h1>
      		Once you have placed your seal press the 'Bind Seal' button of the bottom of the page. This will take you to a form to place runes of power on your seal.
      		<h1>I cannot bind my seal</h1>
      		Make sure all the runes of power are correct and you are memorising your seal correctly.
      		<h1>The seal requires my soul?</h1>
      		Indeed, but the cause is great, for the world shall perish if we fail.
      		</font></p>
			</div>
    	</div>
	</body>
</html>